@model Project.Models.UserDisplayVM

@{
    ViewBag.Title = "Edit";
}

<div class="panel">
    <div class="panel-body">
        <form asp-action="Edit" method="post">
            <div class="underline-Heading">
                <h2>Edit Account</h2>
            </div>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">WCTC Email Address</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" type="email" name="email" id="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityId"></label>
                <select asp-for="FacilityId" asp-items="ViewBag.DropDownList" class="form-control"></select>
                <span asp-validation-for="FacilityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-area="" asp-controller="Admin" asp-action="Index"><input type="button" value="Cancel" class="btn btn-danger"></a>
        </form>
    </div>
</div>


