<div class="row">	
    <div class="col-lg-3">		
      <h1 class="my-4">Products</h1>
      <div class="list-group"> 
		  <a href="" class="list-group-item" ng-click="changeCategory(1)">Xbox One</a> 
		  <a href="" class="list-group-item" ng-click="changeCategory(2)">Playstation 4</a> 
		  <a href="" class="list-group-item" ng-click="changeCategory(3)">Nintendo Switch</a>
		  <a href="" class="list-group-item" ng-click="changeCategory(4)">PC</a>
		  <a href="" class="list-group-item" ng-click="changeCategory(5)">Other</a>
	  </div>
    </div>
    <!-- /.col-lg-3 -->
    
    <div class="col-lg-9"> 
      
      <!-- UIB Carousel -->
      <div class="my-4">
        <div uib-carousel active="0" interval="3000" template-url="vendor/ui-bootstrap/template/carousel/carousel.html">
          <div uib-slide ng-repeat="slide in latestProducts track by slide.id" index="slide.id"> <img class="img-fluid" ng-src="{{slide.image}}" alt="">
            <div class="carousel-caption">
              <a style="font-weight: bold; color: white;" href="#!product/{{slide.productId}}">{{slide.name}},Available Now!</a>
            </div>
          </div>
        </div>
      </div>
		
	  <!-- Product Listing -->
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 text-center" ng-repeat="item in products | filter: {cat: productCategory}">
          <div class="card h-100"> 
			<!-- the source here generates a random image from the site, convenient for future use, like lorem ipsum for images -->
			<a href="#!product/{{item.id}}"><img class="img-fluid" style="margin: 10px;" src="{{item.image}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title"> <a href="#!product/{{item.id}}">{{item.name}}</a> </h4>
              <h5>{{item.price}}</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer"><a href="#!product/{{item.productId}}" class="btn btn-primary">Add To Cart</a> </div>
          </div>
        </div>
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.col-lg-9 --> 

</div>
<!-- /.row --> 